{{#isHeaderParam}}[FromHeader (Name = "{{baseName}}")]{{#required}}[Required()]{{/required}}{{#pattern}}[RegularExpression("{{{.}}}")]{{/pattern}}{{#minLength}}{{#maxLength}}[StringLength({{maxLength}}, MinimumLength={{minLength}})]{{/maxLength}}{{/minLength}}{{#minLength}}{{^maxLength}} [MinLength({{minLength}})]{{/maxLength}}{{/minLength}}{{^minLength}}{{#maxLength}} [MaxLength({{.}})]{{/maxLength}}{{/minLength}}{{#minimum}}{{#maximum}}[Range({{minimum}}, {{maximum}})]{{/maximum}}{{/minimum}}{{#isArray}}List<{{items.dataType}}{{^items.isEnum}}{{^items.isEnumRef}}{{^items.isPrimitiveType}}DataModel{{/items.isPrimitiveType}}{{/items.isEnumRef}}{{/items.isEnum}}> {{paramName}}{{/isArray}}{{^isArray}}{{{dataType}}}{{^isPrimitiveType}}DataModel{{/isPrimitiveType}}{{#nullableReferenceTypes}}{{^isContainer}}{{^required}}?{{/required}}{{/isContainer}}{{/nullableReferenceTypes}} {{paramName}}{{/isArray}}{{/isHeaderParam}}